<div style="margin-left: 30px">
  <h3>Upload File</h3>
  <p>formControlName1</p>
  <form [formGroup]="form">
    <oms-upload-file formControlName="file"></oms-upload-file>
  </form>
  <p>ngModel1</p>
  <oms-upload-file [(ngModel)]="test" (ngModelChange)="onInputChange($event)"></oms-upload-file>
</div>

<div style="margin-left: 30px">
  <p>formControlName2</p>
  <form [formGroup]="newForm">
    <oms-upload-file formControlName="newFile"></oms-upload-file>
  </form>
  <p>ngModel2</p>
  <oms-upload-file [(ngModel)]="newTest" (ngModelChange)="onInputChange($event)"></oms-upload-file>
</div>